body {
    /* font-family: 'NanumSquare', sans-serif; */
    font-family: 'Nanum Gothic', sans-serif;
    -webkit-font-smoothing: antialiased;
}
header {
    background-color: rgb(187,221,255);
    margin: 0;
    padding: 20px;
}
header h1 {
    color: black;
    text-align: center;
    font-size: 45px;
    font-family: 'Gamja Flower', cursive;
}
header h2 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Gamja Flower', cursive;
}
@media(max-width : 600px) {
    header {padding: 10px;}
    header h1 {font-size : 35px;}
    header h2 {font-size : 25px;}
}

/* index */

/* speech-bubble */
.bubble-container {
    width: 320px;
    margin: 20px auto;
}
.speech-bubble-right {
	position: relative;
	background: rgb(230,230,230);
    padding: 10px;
	border-radius: .4em;
}
.speech-bubble-right:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: rgb(230,230,230);
	border-left: 0;
	border-top: 0;
	margin-top: -5px;
	margin-left: -10px;
}
.speech-bubble-left {
	position: relative;
    background: rgb(255,235,51);
    padding: 10px;
	border-radius: .4em;
}
.speech-bubble-left:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color:rgb(255,235,51);
	border-right: 0;
	border-top: 0;
	margin-top: -5px;
	margin-right: -10px;
}

/* under bubble */

.description {
    margin: 20px auto;
    width: 600px;
    text-align: center;
}
@media(max-width : 900px) {
    .description {width: 320px;}
}
.description p {
    font-size: 15px;
    text-align: justify;
}
.description ul {
    padding: 0;
}
.description li {
    list-style: none;
}
.btn-container {
    height: 150px;
    position: relative;
    margin: 20px;
}
.btn-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.test-start {
    padding: 0;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
}
.main-picture {
    text-align: center;
}

/* Style the form */
.formdescription {
    width: 320px;
    margin: 20px auto;
    font-size: 15px;
    text-align: justify;
}
div[class^="tab"] {
    padding-top: 30px;
    border-top: 1px solid rgb(33,37,41);
    width: 320px;
    margin: 40px auto;
}
.number {
    font-size: 20px;
}
.question {
    padding: 0 0 10px 0;
    font-size: 18px;
    line-height: 30px;
}
div[class^="tab"] p{
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid rgb(163,167,171);
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}
.p-active {
    color: rgb(33,37,41);
    background-color: rgb(187,221,255);
    padding: 10px;
}
@media(max-width : 600px) {
    div[class^="tab"] {width: 320px;}
    .number {font-size: 16px;}
    .question {font-size : 16px;}
    .formwrapper p {font-size : 14px;}
}
.button-wrap {
    width: 320px;
    margin: 0 auto;
}
.endbutton {
    width: 130px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    padding: 0;
}

/* result */
.result {
    display: none;
    margin: 40px auto;
    width: 500px;
}
.result h3 {
    text-align: center;
    margin-bottom: 20px;
}
p[id^=matched] {
    text-align: center;
}
.result h4 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.detailwrap  {
    margin-bottom: 10px;
    border: 1px solid rgb(33,37,41);
    padding: 10px;
}
div[id^=name] {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
div[id^="img"] {
    text-align: center;
    margin-bottom: 10px;
}
div[id^="desc"] {
    text-align: justify;
    font-size: 16px;
    padding: 10px;
}

@media(max-width : 600px) {
    .result {width: 320px;}
    div[id^=name] {font-size: 16px;}
    div[id^="desc"] {font-size: 14px;}
}

/* ads */
.ad-left {
    position: absolute;
    top: 155px;
    left: 10px;
}
.ad-right {
    position: absolute;
    top: 155px;
    right: 10px;
}
@media(max-width : 700px) {
    .ad-left {display: none;}
    .ad-right {display: none;}
}
.ad-bottom {
    width: 320px;
    margin: 20px auto;
}

/* footer */
footer {
    margin: 30px 0;
}
footer address {
    font-size: 13px;
}